<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Summarizer</title>
</head>
<body>
    <form action = "http://localhost:8080/success" method = "POST">
         <h2>Enter Text to be Summarized:</h2>
        <textarea  rows="30" cols="150" name="text"></textarea>
        <h2>Enter 1 for informative summary or 0 for indicative summary</h2>
        <p><input type = "number" name = "flag" /></p>
        <p><input type = "submit" value = "submit" /></p>
    </form>
</body>
</html>